@keyframes anim {
  to {
    top: -250px;
    left: var(--left);
    opacity: 1;
    filter: hue-rotate(500deg);
  }
}

body {
  overflow: hidden;
  min-height: 100vh;
  cursor: crosshair;
}

.bubble, .bubbleBlack {
  position: absolute;
  border-radius: 300px;
  background: rgba(255, 166, 0, 0.6);
  opacity: 0;
  animation: anim 8s forwards;
  filter: hue-rotate(0deg);
}

.bubbleBlack {
  background: #212124;
}

h3 {
  font-size: 10rem;
  text-align: center;
  margin-top: 20px;
  color: rgba(44, 44, 175, 0.486);
  user-select: none;
}

#flex {
  display: flex;
  justify-content: center;
}

#play {
  background: #090979;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  padding: 1rem;
  font-size: 1.2rem;
}